.App {
  text-align: center;
}

body {
  color: #333333;
}

.dimensions {
  height: 550px;
}

.navbar-changes {
  color: #333333;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.link-changes {
  color: #333333;
  padding: 10px;
  font-size: 30px;
}

.border-card {
  border: 0.5px gray solid;
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 0.2px;
  padding: 50px;
  margin: 80px 0px 10px 0px;
}

.listStyle {
  padding: 5px;
  margin: 5px;
}

.box {
  padding: 5px;
  border: 0.25px black solid;
}