.App {
  text-align: center;
}

.dimensions {
  height: 550px;
}

.border-card {
  border: 0.5px gray solid;
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 0.2px;
  padding: 50px;
  margin: 10px 0px;
}

.listStyle {
  padding: 5px;
  margin: 5px;
}

.box {
  padding: 5px;
  border: 0.25px black solid;
}